body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw;
    height: 100vh;
}

.leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.leaflet-popup-content {
    margin: 13px 20px;
    font-size: 14px;
    line-height: 1.5;
}

.leaflet-popup-content h3 {
    margin: 0 0 10px;
    color: #2c3e50;
    font-size: 16px;
}

.leaflet-popup-content p {
    margin: 5px 0;
}
